.Rproj.user
.Rhistory
.RData
.Ruserdata
vccorlib140.dll
vcruntime140.dll
concrt140.dll
reverseGeocoding.Rproj
ADDRESS.CSV
outfileTot.rds
prendiIndirizzoDaGoogle.pro.user
provaConfronti.csv
CORDAR_ALL_20230116T120000.xlsx
a2a
cacheFile.rds
canova
edificiPCN_download_WFS.R
err.log
curler.cpp
keys.R
